
@{
    ViewBag.Title = "SubmitSuccess";
}

<h2 style="padding-top:150px; padding-bottom:50px; color:green">Your request has been submitted successfully</h2>
<h3 style="padding-top:50px; padding-bottom:50px">To view the raised requests click on the link below</h3>

@Html.ActionLink("My Requests","MyRequests","Customer")

